<h3>Home Component</h3>
<p>Welcome to Angular Seed</p>

<div class="container">
  <div class="row">
    <div class="col">
      <img src="./assets/images/logo.png" />
    </div>
    <div class="col">
      Публике нравится
    </div>
    <div class="col">
      RSS-новости
    </div>
  </div>
</div>



<div class="container">
  <div class="row">
    <div class="col">
      1 of 3
    </div>
    <div class="col">
      1 of 3
    </div>
    <div class="col">
      1 of 3
    </div>
  </div>
</div>
